BPWTW0_0928/MM_orarend.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT orarend (ora+)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora
	id CDATA #REQUIRED
	tipus NMTOKEN #REQUIRED>

<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap,tol,ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>