BPWTW0_1020/src/macskakBPWTW0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
	<xs:element name="macskak">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="macska" minOccurs="3" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="macska">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nev" type="xs:string"/>
				<xs:element name="kor" type="xs:int"/>
				<xs:element name="fajta" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>		
			
</xs:schema>